# Banco do Primeiro Ano
FIRST_YEAR_DB_HOST=
FIRST_YEAR_DB_PORT=
FIRST_YEAR_DB_NAME=
FIRST_YEAR_DB_USER=
FIRST_YEAR_DB_PASSWORD=


# Banco do Segundo Ano
SECOND_YEAR_DB_HOST=
SECOND_YEAR_DB_PORT=
SECOND_YEAR_DB_NAME=
SECOND_YEAR_DB_USER=
SECOND_YEAR_DB_PASSWORD=


# Configuração RPA
BATCH_SIZE=500